.jumbotron h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 50px
};

.jumbotron p {font-weight: bold;
    font-style: italic};

#gauge {
    color: red;
}

.panel-heading {
    background-color: red;
}